@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Yanone+Kaffeesatz:wght@200..700&display=swap');

* {
    padding: 0;
    margin: 0;
    position: relative;
}

body {
    background-image: url('https://img.freepik.com/fotos-premium/muitos-soldados-romanos-imperio-romano-ai-gerado_406939-10119.jpg');
    background-image: url('https://aventurasnahistoria.com.br/media/uploads/imperio_romano.jpg');
    background-repeat: no-repeat;
    background-size: 120% 100vh;
    color: white;
}
main {
    height: 100vh;
    width: 100%;
}
#blue-filter {
    height: 100vh;
    width: 100%;
    position: absolute;
    background-color: #002876;
    opacity: 56%;
}
header {
    padding-top: 1vh;
}

header>.row>.container>.row>.col-12 {
    text-align: center;
}

#titulo {
    font-family: 'Open Sans';
    font-size: 3rem;
}
#subtitulo {
    text-align: center;
}
.logo-div {
    position: fixed;
    top: 5px;
    right: 5px;
}
.logo-img {
    height: 10vw;
}
nav {
    height: 9vh;
    padding-top: 0%;
    background-color: rgba(0, 0, 139, 0.555);
    text-align: center;
    border-radius: 50px;
}
nav > ul {
    padding: 0;
}
nav > ul > a {
    padding-top: 2vh;
    padding-bottom: 2vh;
    color: white;
    border: 1px solid #002876;
    backdrop-filter: blur(2px);
}

#nav-left{
    border-radius: 50px 0px 0px 50px;
}
#nav-right {
    border-radius: 0 50px 50px 0;
}
nav > ul > a:hover {
    border: 1px solid #002876;
    background-color: #0055ff4b;
}
nav > ul > a > li{
    list-style-type: none;
    display: inline-block;
}

#quero-aprender{
    padding: 1%;
    color: #00194b;
    background-color: white;
    border: 2px solid #00194b;
    border-radius: 50px;
    font-size: 70%;
    font-weight: bold;
    margin-top: 20vw;
}
#quero-aprender:hover {
    color: white;
    background-color: #00194b;
}

/* Sessão Nossos Diferenciais */
#section-diferenciais {
    height: 100vh;
    width: 100%;
    padding-top: 4vh;
    color: black;
    background-color: white;
}

.diferenciais-imgs {
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 5vh;
}
.diferenciais-textos {
    color: black;
    padding-top: 1%;
    padding-left: 2%;
}
.diferenciais-textos > h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 28px;
}
.diferenciais-textos > p {
    font-size: 21px;
    text-align: justify;
}
#section-diferenciais > .container > .row {
    margin-bottom: 10vh;
}
#div-aprendizado-objetivo {
    padding-top: 5%;
}

/* Sessão Nossos conteúdos */
#section-nossos-conteudos {
    height: 100vh;
    width: 100%;
    padding-top: 4vh;
    background-color: #43608a;
    color: white;
}
#nossos-conteudos-titulo >h2 {
    margin-bottom: 6vh;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 3rem;
}

.card-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    height: 60vh;
    width: auto;
    margin-right: 1.8%;
    margin-left: 1.8%;
}
.card-container:hover {
    box-shadow: 4px 2px 10px blue;
}
#post1 {
    background-image: url('../imgs/alexandre_o_grande.png');
}
#post2 {
    background-image: url('../imgs/piramides.jpg');
}
#post3 {
    background-image: url('../imgs/guerreiros.png');
}
.row-space {
    height: 33%;
}
.card-conteudo {
    height: 34%;
    background-color: rgba(0, 0, 0, 0.493);
    color: white;
    text-align: center;
}
.card-titulo {
    margin-top: 4%;
    font-family: 'Yanone Kaffeesatz';
    font-weight: bolder;
    font-size: 30.9px;
    font-size: 5vh;
}
.card-div-titulo {
    height: 75%;
    max-height: 75%;
}
.card-conteudo-tempo {
    height: 25%;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.329);
}
.card-botao {
    height: 9vh;
    width: 96.3%;
    margin: 2% 2% 2% 1.6%;
    border: 1px solid #002876;
    border-radius: 10px;
    color: white;
    background-color: #002876;
}
.card-botao:hover {
    background-color: #00194b;
    border-color: #00194b;;
}

/* Responsividade extra */
/* Small */
@media (max-width: 767px){
    .diferenciais-imgs {
        max-height: auto;
        max-width: 80%;
        margin-left: 10%;
        margin-bottom: 5vh;
    }
    #section-diferenciais {
        height: 1100px;
    }
    #section-nossos-conteudos {
        height: 1500px;
    }
}
/* Extra Small */
@media (max-width: 576px){
    nav > ul > a {
        padding-top: 3%;
        padding-bottom: 3%;
        font-size: 70%;
    }
    nav {
        height: 7.5vh;
        padding-top: 0;
        padding-bottom: 0;
    }
    #subtitulo {
        font-size: 1rem;
    }
}
